<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>


	<h1>Choose Your Character</h1>

		<img src="http://s3.postimg.org/3tkeyzzc3/pavel_barkov_marine.jpg" width="300" height="326" alt="pavel-gunner"><br>

		<input type="submit" value="Select Character">
		
		<p>Name: <%= @pavel.first_name + " " + @pavel.last_name %></p>
		<p>Rank: <%= @pavel.rank %></p>
		<p>Role: <%= @pavel.role %></p>
		<p>Birthplace: 	<%= @pavel.birthplace %></p>
		<p>Bio: <%= @pavel.bio %></p>


	<div class="button-bar">
		<!-- for example -->
	  <a href="/characters/1" class="button prev">Previous</a>
	  
	  <a href="/characters/3" class="button next">Next</a>
	</div>


</body>
</html>