<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% if @location == Location.first %>
		<title>Chapter 1: The Apartment</title>
		<img src="https://s-media-cache-ak0.pinimg.com/736x/78/25/3c/78253cd09f6666d93fa3b680bea4a1a2.jpg" alt="apartment">
		<h2>Chapter 1: The Apartment</h2>
	<% elsif @location == Location.second %>
		<title>Chapter 2: The Street</title>
		<img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Destruction_in_a_Berlin_street.jpg" alt="street">
		<h2>Chapter 2: The Street</h2>
	<% elsif @location == Location.third %>
		<title>Chapter 3: The Forest</title>
		<img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Monte_Cassino.jpg" alt="forest">
		<h2>Chapter 3: Edge of Town</h2>
	<% elsif @location == Location.fourth %>
		<title>Chapter 4: The Forest</title>
		<img src="http://image.naldzgraphics.net/2012/10/26-black-white-dead-tree-forest-scary.jpg" alt="">
		<h2>Chapter 4: The Bunker</h2>
	<% end %>

	<link rel="stylesheet" href="../../stylesheets/style.css" text"text/css">

</head>
<body>	

	<% unless @location == nil || @status == "dead" %>

		<div class="actions">
			<form action="/chapter<%= @location.id %>/plot" method="GET">
				<input type="submit" value="Story Text">
			</form>

			<form action="/chapter<%= @location.id %>/details" method="GET">
				<input type="submit" value="Look Around">
			</form>

			<form action="/chapter<%= @location.id %>/pickup" method="GET">
				<input type="submit" value="Pick Up Object">
			</form>
			
			<form action="/chapter<%= @location.id %>/current_items" method="GET">
				<input type="submit" value="View Inventory">
			</form>

			<% if @location.id != 1 && @location.id != nil %>
				<form action="/chapter<%= @location.id - 1 %>/plot" method="GET">
					<input type="submit" value="Go to Previous Location">
				</form>			
			<% end %>	

			<% if @location.id == 1 && @location.items.find_by(id: 2) == nil %>

			<form action="/chapter<%= @location.id + 1 %>/plot" method="GET">
				<input type="submit" value="Go to Next Location">			
			</form>

			<% elsif @location.id != 1 && @location.id != nil && @location.id != 4 %>
			
			<form action="/chapter<%= @location.id + 1 %>/plot" method="GET">
				<input type="submit" value="Go to Next Location">			
			</form>

			<% elsif @location.id == 4 %>
			<form action="/chapter<%= @location.id + 1 %>/plot" method="GET">
				<input type="submit" value="Try to Save Medvedev">
			</form>

			<% else %>
				<form action="/chapter<%= @location.id %>/fail" method="GET">
					<input type="submit" value="Go to Next Location">
				</form>
			<% end %>

			</form>
		</div>

	<% end %>
	
	<%= yield %>


</body>
</html>